{% extends "base.html" %}
{% load static %}
<head>
    
</head>
{% block content %}
<h1 class='salom'>Assalomu alaykum</h1>
<p class='qwe' id='qwe'>Assalomu alaykum</p>

<!-- Header -->

<div class="header-slider">
    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="{% static '/img/617bf1de92d40.png' %}" alt="" class="swiper-lazy" />
            <div
              class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
          <div class="swiper-slide">
            <img src="{% static '/img/617f835700f9f.png' %}" alt="" class="swiper-lazy" />
            <div
              class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
</div>

    <!-- Ommabop Bo`limlar -->

    <div class="pop-categories">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Ommabop bo'limlar</h2>
          </div>

          <div class="row">
            <div class="col-2 mb-4">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/1.png" alt="" />
                    </div>
                    <p>Telefonlar va gadjetlar</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2 mb-4">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/2.png" alt="" />
                    </div>
                    <p>Yirik maishiy texnika</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2 mb-4">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/5.png" alt="" />
                    </div>
                    <p>Tikuv mashinalari</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2 mb-4">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/6.png" alt="" />
                    </div>
                    <p>Televizorlar</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/7.png" alt="" />
                    </div>
                    <p>O‘rnatiluvchi texnika</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/8.png" alt="" />
                    </div>
                    <p>Oshxona texnikasi</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/9.png" alt="" />
                    </div>
                    <p>Go‘zallik va salomatlik</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/10.png" alt="" />
                    </div>
                    <p>Sportga oid mahsulotlar</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/11.png" alt="" />
                    </div>
                    <p>Printerlar va skanerlar</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-2">
              <a href="#">
                <div class="card h-100 text-center">
                  <div class="card-body">
                    <div class="cardImg">
                      <img src="static/img/popular/12.png" alt="" />
                    </div>
                    <p>Uy va ishxona jixozlari</p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          
        </div>
      </div>
    </div>

    <!-- Mahsulotlar -->

    <div class="pop-products">
        <div class="container">
          <div class="row">
            <div class="col-3 p-0 d-none d-xl-block pop-pro-sidebar">
              <a href="">
                <img src="static/img/sidebar-01.png" class="w-100" alt="" />
              </a>
              <a href="" class="mt-5">
                <img src="static/img/sidebar-02.png" alt="" class="w-100" />
              </a>
              <a href="" class="mt-5">
                <img src="static/img/sidebar-03.png" alt="" class="w-100" />
              </a>
              <a href="" class="mt-5">
                <img src="static/img/sidebar-04.png" alt="" class="w-100" />
              </a>
              <a href="" class="mt-5">
                <img src="static/img/sidebar-01.png" alt="" class="w-100" />
              </a>
            </div>
  
            {% comment %} <div class="col-lg-9 col-12 pop-product">
              <!-- Ommabop Mahsulotlar -->
              <div
                class="col-12 d-flex justify-content-between align-items-center"
              >
                <h2 class="col-7">Ommabop mahsulotlar</h2>
                <div class="col-2 d-flex">
                  <div class="swiper-button-prev" id="swp-btn-prev"></div>
                  <div class="swiper-button-next ml-2" id="swp-btn-next"></div>
                </div>
              </div>
              <div class="swiper mySwiper-products mt-3" style="height: inherit">
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="static/img/pop-category-01.jpg"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/new-products/3.png' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span> so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung A125 Galaxy A12 4/64Gb Blue</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>15 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/popular-products/2.webp' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A12 32GB Black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>25 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/popular-products/3.webp' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 21 200 000 so'm</h5>
                      <h4>1 131 780 <span> so‘mdan oyiga </span></h4>
                      <p>Смартфон iPhone 12 Pro max 512GB Black (Dual)</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>2 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/popular-products/4.webp' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>3 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
  
              <!-- Yangi Mahsulotlar -->
  
              <div
                class="col-12 d-flex justify-content-between align-items-center mt-5"
              >
                <h2 class="col-7">Yangi mahsulotlar</h2>
                <div class="col-2 d-flex">
                  <div class="swiper-button-prev" id="swp-new-prev"></div>
                  <div class="swiper-button-next ml-2" id="swp-new-next"></div>
                </div>
              </div>
              <div
                class="swiper mySwiper-new-products mt-3"
                style="height: inherit"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/new-products/2.png' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/new-products/3.png' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span> so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung A125 Galaxy A12 4/64Gb Blue</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>15 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/new-products/4.png' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A12 32GB Black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>25 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/new-products/2.png' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 21 200 000 so'm</h5>
                      <h4>1 131 780 <span> so‘mdan oyiga </span></h4>
                      <p>Смартфон iPhone 12 Pro max 512GB Black (Dual)</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>2 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="">
                      <img
                        src="{% static '/img/new-products/1.png' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>3 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
  
              <!-- Smartfonlar -->
  
              <div
                class="col-12 d-flex justify-content-between align-items-center mt-5"
              >
                <h2 class="col-7">Smartfonlar</h2>
                <div class="col-2 d-flex">
                  <div class="swiper-button-prev" id="swp-smart-prev"></div>
                  <div class="swiper-button-next ml-2" id="swp-smart-next"></div>
                </div>
              </div>
              <div
                class="swiper mySwiper-smart-products mt-3"
                style="height: inherit"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img
                        src="static/img/pop-category-01.jpg"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img
                        src="{% static '/img/popular-products/2.webp' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A12 32GB Black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>25 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img
                        src="{% static '/img/popular-products/3.webp' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 21 200 000 so'm</h5>
                      <h4>1 131 780 <span> so‘mdan oyiga </span></h4>
                      <p>Смартфон iPhone 12 Pro max 512GB Black (Dual)</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>2 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img
                        src="{% static '/img/popular-products/4.webp' %}"
                        class="swiper-lazy"
                        alt=""
                      />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>3 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
  
              <!-- Televizorlar -->
  
              <div
                class="col-12 d-flex justify-content-between align-items-center mt-5"
              >
                <h2 class="col-7">Televizorlar</h2>
                <div class="col-2 d-flex">
                  <div class="swiper-button-prev" id="swp-tel-prev"></div>
                  <div class="swiper-button-next ml-2" id="swp-tel-next"></div>
                </div>
              </div>
              <div class="swiper mySwiper-tel-products" style="height: inherit">
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/tv/4.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/tv/5.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/tv/1.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A12 32GB Black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>25 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/tv/2.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 21 200 000 so'm</h5>
                      <h4>1 131 780 <span> so‘mdan oyiga </span></h4>
                      <p>Смартфон iPhone 12 Pro max 512GB Black (Dual)</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>2 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/tv/3.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>3 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
  
              <!-- Muzlatgichlar -->
  
              <div
                class="col-12 d-flex justify-content-between align-items-center mt-5"
              >
                <h2 class="col-7">Muzlatgichlar</h2>
                <div class="col-2 d-flex">
                  <div class="swiper-button-prev" id="swp-muz-prev"></div>
                  <div class="swiper-button-next ml-2" id="swp-muz-next"></div>
                </div>
              </div>
              <div
                class="swiper mySwiper-muz-products mt-3"
                style="height: inherit"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/fridge/1.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/fridge/2.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga</span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB Red</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>11 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/fridge/3.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 750 000 so'm</h5>
                      <h4>93 430 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A12 32GB Black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>25 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/fridge/4.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 21 200 000 so'm</h5>
                      <h4>1 131 780 <span> so‘mdan oyiga </span></h4>
                      <p>Смартфон iPhone 12 Pro max 512GB Black (Dual)</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>2 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <div class="swiper-slide d-flex flex-column">
                    <a class="myCard" href="pages/product.html">
                      <img src="static/img/fridge/3.webp" class="swiper-lazy" alt="" />
                      <h5>Narx: 1 900 000 so'm</h5>
                      <h4>101 440 <span>so‘mdan oyiga </span></h4>
                      <p>Смартфон Samsung Galaxy A21s 3/32GB black</p>
  
                      <div class="line"></div>
  
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h3>3 taklif</h3>
                        <div class="heart scales">
                          <i class="icon icon-heart scales"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>

{% endblock content %}